.node--type-product{
  width: 100%;
}
.field--name-field-main-image{
  float: left;
  width: 40%;
  padding: 5px;
  border: ridge;
  margin-right: 3%;
  margin-bottom: 5px;
  min-height: 350px;
}
.field--name-field-main-image > img{
  max-height: 450px;
  width: auto;
  /* margin-top: 50%;
  transform: translateY(-50%); */
}

.field--type-text-with-summary{
  float: left;
  margin-top: 10px;
  padding-top: 20px;
  border-bottom: ridge;
  padding-bottom: 20px;
  margin-bottom: 10px;
  width: 100%;
}
.field--name-uc-product-image{
  float: left;
}
.field--type-uc-price{
  color: #f36f40;
  font-size: 22px;
  font-weight: bold;
  padding-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.display-price{
  visibility: hidden;
}
.uc-product-add-to-cart-form{
  margin-bottom: 30px;
}
.field--name-taxonomy-catalog{
  float: left;
}

.btn-success {
    color: #fff;
    background-color: #F36F36;
    border-color: #F36F36;
}
.control-label{
  color: #595959;
}
.field--label{
  color: #595959;
}
.links{
  float: left;
}

.field--name-uc-product-image{
  width: 100%;
}

.field--name-uc-product-image > .field--items > .field--item{
  width: fit-content;
}
.field--name-uc-product-image > .field--items > .field--item > a > img{
  max-height: 200px;
}
.field--name-uc-product-image > .field--items{
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;

}
