@charset "UTF-8";
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
@import url("https://fonts.googleapis.com/css?family=Product+Sans%3A400%2C400i%2C700%2C700i&#038;ver=4.8.4");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* body {

} */

div .main-container{
  padding-top: 68px;
  margin-left: 7%;
  margin-right: 7%;
}
@media screen and (max-width: 768px) {
    div .main-container { padding-top: 0px; }
}

header {
  position: relative;
  z-index: 65;
  border: none;
  width: 100%;
}
/* header .container-fluid {
  width: 100%;
  padding: 0;
} */
img{
  margin: auto auto;
}
.site-branding {
  text-transform: uppercase;
  /* background-color: #222; */
  overflow: hidden;
  float: left;
  border-right: ridge;
}
.site-branding > a{
  min-height: 68px;
  max-height: 68px;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 28px;
  line-height: 68px;
  padding: 17px 30px;
}
.contextual-region{
  float: left;
}
#block-online-shop-theme-account-menu{
  float: right;
}

.left-navbar-toggle{
  float: left;
}
.right-navbar-toggle{
  float: right;
}
/* MEnu */
.menu--main.navbar-nav > li > a {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 15px;
  line-height: 68px;
  color: #595959;
  font-size: 16px;
}
.menu--account.navbar-nav.navbar-right > li > a {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 15px;
  line-height: 68px;
  color: #595959;
  font-size: 12px;
}

.navbar-header {
    float: none;
}
/* Danh cho phone */
@media (max-width: 767px) {
  .site-branding {
    float: none;
  }
  .navbar-nav {
    margin: 5px 0px;
    /* display: flex; */
  }
  .navbar-default .navbar-nav > li > a {
    padding: 0 5px;
    line-height: 30px;
    font-size: 12px;
  }
}
img.poster-image{
  width: 100%;
  max-height: 275px;
  height: auto;
}


/* FOOTER */
footer.footer {
    background-color: #222222;
    color: #999999;
    font-size: 14px;
    padding: 15px 0;
    margin: 0;
    border: none;
}









/* TRANG SAN PHAM */
/* .row{
  margin-right: auto;
  margin-left: auto;
} */

div .view-content {
  margin-right: unset;
}
  /* set mau */
.views-field-price > span {
  color: #f36f40;
  font-size: 16px;
  font-weight: bold;
}
.views-field-price > a > span {
  color: #f36f40;
  font-size: 16px;
  font-weight: bold;
}
.views-field-title > span > a {
  color: black;
  font-size: 16px;
  font-weight: bolder;
}


.list-san-pham{
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.row-san-pham{
  width: 100%;
  border: ridge;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 7px;
}
  /* image */
@media (min-width: 1024px) {
  .views-field-field-main-image{
    height: 300px;
    border: ridge;
  }
}
@media (max-width: 1023px) {
  .views-field-field-main-image{
    height: 225px;
    border: ridge;
  }
}

.views-field-field-main-image > div {
  width: 100%;
  height: 100%;
}
.views-field-field-main-image > div > a > img {
  width: auto;
  height: 100%;
}

@media (max-width: 767px) {

}

/* END TRANG SAN PHAM */
