@charset "UTF-8";
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
@import url("https://fonts.googleapis.com/css?family=Product+Sans%3A400%2C400i%2C700%2C700i&#038;ver=4.8.4");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

header {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 65;
  border: none;
  width: 100%;
}

/* header .container-fluid {
  width: 100%;
  padding: 0;
} */

header.navbar-header{
  color: #595959;
}
.navbar-header .site-branding {
  text-transform: uppercase;
  background-color: #222;
  overflow: hidden;
  float: left;
}
.contextual-region{
    float: left;
}
@media (min-width: 992px){
    .navbar.container{
       max-width: 100%;
    }
}
@media (min-width: 768px) {
  header.navbar-default{
  float: left;
  /* position: fixed; */
  position: relative;
  margin-top: 0 !important;
  width: 100%;
  max-width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  }
  .navbar-default .navbar-nav > li > a {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 15px;
  line-height: 68px;
  color: #595959;
  }
  .navbar-header .site-branding a {
  min-height: 68px;
  max-height: 68px;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 28px;
  line-height: 68px;
  padding: 17px 30px;
  }

}
/* Danh cho phone */
@media (max-width: 767px) {

}



/* Content */
img.poster-image{
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  height: auto;
}

/* CUSTOM CSS CHO PAGE SAN PHAM */
div.views-view-grid.horizontal.clearfix{
    margin-left: 3%;
    margin-right: 3%;
}
div.views-col{
  width: 30%;
  padding: 5px;
  margin-right: 1%;
  margin-left: 1%;
  border: groove;
}
div.views-field.views-field-field-anh-noi-bat div.field-content a img{
  margin: 0 auto;
  /* border: none; */

}
div.views-field.views-field-field-anh-noi-bat{
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-example-class{
  background-color: aqua;
}
