{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the Navigation region.
 * - page.page_title: Used by Current page Title.
 * - page.banner: Items for the banner region.
 * - page.highlighted: Items for the highlighted top  region.
 * - page.content_top: The main content top of the current page.
 * - page.help: Item for the help region.
 * - page.breadcrumb: Item for the Breadcrumb region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.content_bottom: Items for the bottom in content region.
 * - page.footer_top: Items for the footer top region.
 * - page.footer_first: Items for the footer first region.
 * - page.footer_second: Items for the footer Second region.
 * - page.footer_third: Items for the footer third region.
 * - page.footer_bottom: Items for the footer bottom region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

{# Navbar #}
<header class='navbar navbar-default navbar-fixed-top'
	id="navbar" role="banner">
	{# <div class="header-slide">
	            <image>
	        </div> #}

  <div class='container-fluid'>

		<div class="navbar-header">
			{{ page.navigation.online_shop_theme_branding }}

      {# .btn-navbar is used as the toggle for collapsed navbar content #}
			<button type="button" class="navbar-toggle left-navbar-toggle" data-toggle="collapse" data-target="#block-online-shop-theme-main-menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			{{ page.navigation.online_shop_theme_main_menu }}
			<button type="button" class="navbar-toggle right-navbar-toggle" data-toggle="collapse" data-target="#block-online-shop-theme-account-menu">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			{{ page.navigation.online_shop_theme_account_menu }}
		</div>

		{# Navigation (collapsible) #}
		{% if page.navigation_collapsible %}
			<div id="navbar-collapse" class="navbar-collapse collapse">
				{{ page.navigation_collapsible }}
			</div>
		{% endif %}

	</div>
</header>

{# Main #}
<div class='main-container'>

	{#Header#}
	{# slider #}
	<div
		id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="https://cdn.tgdd.vn/2020/04/banner/s10lite-1200-300-1200x300.png" alt="Chania">
				{# <div class="carousel-caption">
					<h3>Los Angeles</h3>
					<p>LA is always so much fun!</p>
				</div> #}
			</div>

			<div class="item">
				<img src="https://cdn.tgdd.vn/2020/04/banner/s10lite-1200-300-1200x300.png" alt="Chicago">
				{# <div class="carousel-caption">
					<h3>Chicago</h3>
					<p>Thank you, Chicago!</p>
				</div> #}
			</div>

			<div class="item">
				<img src="https://cdn.tgdd.vn/2020/04/banner/s10lite-1200-300-1200x300.png" alt="New York">
				{# <div class="carousel-caption">
					<h3>New York</h3>
					<p>We love the Big Apple!</p>
				</div> #}
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	{# Banner #}
	<img class="poster-image" src="https://cdn.tgdd.vn/2020/04/banner/1200-75-1200x75.png"></img>



	{# Content #}
	<p><br></p>
	{{page.content}}
</div>



{# FOOTER #}
<div class="footer-widgets">
	<div class="container-fluid">

	</div>
</div>
<footer class="footer" role="contentinfo">
	<div class="footer-inner container-fluid">
		<div class="footer-copyright">
			Copyright © 2020 · All rights reserved
		</div>
		<div class="footer-blocks">
			<div class="theme-credits-info">
				Build by
				<a href="#">GROUP 75</a>
			</div>
			<div class="region region-footer">
				<span>Powered by
					<a href="https://www.drupal.org">Drupal</a>
				</span>
			</div>
		</div>
	</div>
</footer>
